doctype html
html
  head
    title Users
  body
    h1 Users List
    each user in users
      div
        h2
          a(href="/users/" + user.id)= user.name
        p= user.email
        hr